.documents_topbar {
   display: flex;
   background-color: rgba(0,0,0,0.1);
}

.documents_topbar_item {
   text-decoration: none;
   cursor: pointer;
   padding: 1em 2em;
}

.documents_topbar_item:hover {
   background-color: rgba(200,200,200,1);
}

.documents_topbar_item.active {
   background-color: white;
}

.documents_content {
   padding: 1em;
}
