* {
   margin: 0;
   box-sizing: border-box;
}

html {
   padding: 0;
}

button {
   cursor: pointer;
}


/* PAGES LAYOUT */
.header--section {
   padding: 10px;
}

.main--section {
   display: flex;
}

.sidebar {
   width: 180px;
   min-height: 100vh;
   background-color: rgba(0,0,0,0.1);
}

.sidebar nav {
   display: flex;
   flex-direction: column;
}